@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 43% 99%;
    --foreground: 183 45% 8%;
    --card: 180 43% 99%;
    --card-foreground: 183 45% 8%;
    --popover: 180 43% 99%;
    --popover-foreground: 183 45% 8%;
    --primary: 181 45% 53%;
    --primary-foreground: 183 45% 8%;
    --secondary: 358 45% 74%;
    --secondary-foreground: 183 45% 8%;
    --muted: 180 43% 20%;
    --muted-foreground: 183 45% 70%;
    --accent: 57 46% 62%;
    --accent-foreground: 183 45% 8%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 183 45% 8%;
    --border: 180 43% 20%;
    --input: 180 43% 20%;
    --ring: 57 46% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 60% 1%;
    --foreground: 183 46% 92%;
    --card: 180 60% 1%;
    --card-foreground: 183 46% 92%;
    --popover: 180 60% 1%;
    --popover-foreground: 183 46% 92%;
    --primary: 181 45% 47%;
    --primary-foreground: 180 60% 1%;
    --secondary: 358 45% 26%;
    --secondary-foreground: 183 46% 92%;
    --muted: 180 61% 80%;
    --muted-foreground: 183 46% 92%;
    --accent: 57 46% 38%;
    --accent-foreground: 180 60% 1%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 183 45% 10%;
    --border: 180 60% 60%;
    --input: 180 61% 80%;
    --ring: 57 46% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
