@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 46 67% 84%;
    --foreground: 20 5% 22%;
    --card: 46 67% 84%;
    --card-foreground: 20 5% 22%;
    --popover: 46 67% 84%;
    --popover-foreground: 20 5% 22%;
    --primary: 24 88% 45%;
    --primary-foreground: 46 67% 84%;
    --secondary: 30 12% 51%;
    --secondary-foreground: 46 67% 84%;
    --muted: 46 67% 20%;
    --muted-foreground: 17 5% 70%;
    --accent: 2 75% 46%;
    --accent-foreground: 46 67% 84%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 20 5% 22%;
    --border: 46 67% 20%;
    --input: 46 67% 20%;
    --ring: 2 75% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 46 68% 16%;
    --foreground: 20 5% 78%;
    --card: 46 68% 16%;
    --card-foreground: 20 5% 78%;
    --popover: 46 68% 16%;
    --popover-foreground: 20 5% 78%;
    --primary: 24 88% 55%;
    --primary-foreground: 46 68% 16%;
    --secondary: 30 12% 49%;
    --secondary-foreground: 46 68% 16%;
    --muted: 45 69% 80%;
    --muted-foreground: 20 5% 78%;
    --accent: 2 75% 54%;
    --accent-foreground: 46 68% 16%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 20 6% 10%;
    --border: 46 68% 60%;
    --input: 45 69% 80%;
    --ring: 2 75% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
