---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-slate-300">Hello</main>
  <button class="btn">Button</button>
  <button class="btn btn-primary">Primary</button>
</Layout>
