---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="m-8 bg-orange-50">
    <div class="border mockup-window border-base-300">
      <div class="flex justify-center py-16 px-4 border-t border-base-300">
        Hello!
      </div>
    </div>
  </main>
</Layout>
